.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 99999;
  padding: 0 15px;
  box-sizing: border-box;

  &.open {
      visibility: visible;
      overflow-y: auto;
  }

  &,
  &.close{
      visibility: hidden;
      padding-top: 50px;
  }

  &.constrained{
      & > section,
      & .form-footer > .form-nav{
          max-width: 880px;
          margin: 0 auto;
          padding: 0 15px;
      }
      & > section:last-of-type{
          margin-bottom: 128px;
      }

      header{
          overflow: auto;
          padding: 96px 0 24px;
          @media (min-width: 1200px){
              border-bottom: 1px solid $light-blue-700;
          }
      }

      .breadcrumbs{
          margin: 0;
          padding: 0;
          list-style: none;
          margin-bottom: 1.6rem;
          li{
              display: inline-block;
              font-size: 1.2rem;
              position: relative;
              padding-right: 12px;
              margin-right: 2px;
              &:not(:last-of-type)::after,
              &:not(:last-of-type)::before{
                  content: "";
                  width: 6px;
                  height: 2px;
                  border-radius: 2px;
                  background: $light-gray;
                  display: block;
                  position: absolute;
                  right: 0;
              }
              &:not(:last-of-type)::after{
                  transform: rotate(45deg);
                  top: 11px;
              }
              &:not(:last-of-type)::before{
                  transform: rotate(-45deg);
                  top: 14px;
              }
          }
      }
      
      .row{
          margin: 0 auto;
          padding: 32px 0;
          &:not(:last-of-type){
              border-bottom: 1px solid $light-blue-700;
          }
          h3{
              margin-bottom: .8rem;
          }
          p{
              margin: 0 0 16px;
          }
          .modal-input{
              margin: 8px 0 
          }
          .input-feedback{
              padding: 16px 0;
              .fill-error-message{
                  background: $red;
                  color: white;
                  &::before{
                      border-left: 9px solid transparent;
                      border-right: 9px solid transparent;
                      border-bottom: 9px solid $red;
                  }
              }
          }
      }



      .actions-row{
          margin: 0 auto;
          padding: 32px 0;
          border-bottom: 1px solid $light-blue-700;
          .details{
              h3{
                  margin-bottom: .8rem;
              }
          }
          .actions{
              margin-top: 1.6rem;
              .toggle{
                  display: flex; 
                  justify-content: flex-start;
                  .button{
                      margin: 0;
                      &:first-of-type{
                          border-top-right-radius: 0;
                          border-bottom-right-radius: 0;
                      }
                      &:last-of-type{
                          border-top-left-radius: 0;
                          border-bottom-left-radius: 0;
                      }
                  }
              }
          }
          &.disabled{
              opacity: 1;
              pointer-events: none;
              .button{
                  border-color: $light-blue-700;
                  &.filled{
                      background: $light-blue-700;
                  }
              }
              .details *{
                  color: $light-blue-700;
              }
          }

          @media (min-width: 880px){
              &{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
              }
              .details{
                  width: 70%;
              }
              .actions{
                  width: 30%;
                  margin: 0;
                  text-align: right;
                  .toggle{
                      justify-content: flex-end;
                  }
              }
          }
      }
      

  }

}

// Close search button
.modal-overlay .button-modal-close {
  position: fixed;
  right: 56px;
  top: 56px;
  padding: 17px;
  z-index: 99999;
  user-select: none;
  border: 2px solid rgba($gray-400, 0.5);
  border-radius: 50%;
  backface-visibility: hidden;

  @media (min-width: 796px){
      right: 36px;
      top: 36px;
  }

  &:hover,
  &:focus {
      border: 2px solid rgba($gray-400, 1);
  }
  &:before,
  &:after {
      position: absolute;
      content: "";
      background: $gray-400;
      width: 20px;
      height: 2px;
      top: 16px;
      left: 7px;
  }
  &:before {
      transform: rotate(45deg);
  }
  &:after {
      transform: rotate(-45deg);
  }

}

// Full screen modal overlay element styles
.modal-overlay {
  &.search-page{
      background: white;
      margin: 0;
  }
  & > section{
      max-width: 720px;
      margin: 30px auto;
      & > section{
          margin: 80px 0;
          & > section{
              margin: 32px 0;
          }
      }
      @media (min-width: 768px){
          margin: 165px auto;
      }
  }
  h1 {
      margin: 0 0 20px;
  }
  h2 {
      font-size: 2.2rem;
      font-family: $heading-font-medium;
      font-weight: bold;
      margin: 0 0 20px;
  }

  p {
      margin: 0 0 50px;
  }

  table{
      .button:not(.circle):not(.draggable):not(.suspension-points) {
          min-width: 140px;
          font-weight: 600;
      }
  }
  

  .icon{
      margin: 3em auto 2em auto;
      display: block;
      svg{
          display: block;
          margin: auto;
      }
  }

  .route{
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin: 0 0 22px;
      padding-bottom: 22px;
      border-bottom: 1px solid $light-gray;
      .source,
      .destiny{
          strong{
              font-family: $heading-font-bold;
              font-size: 2.7rem;
          }
          span{
              font-size: 1.2rem;
              color: $gray;
          }
      }
      .arrow{
          padding: 15px 0;
      }
  }

  & > .card{
      max-width: 384px;
      text-align: center;
  }

  .card{
      padding: 2em;
      box-sizing: border-box;
      position: relative;

      @media (min-width: 768px){
          box-shadow: 0 5px 20px 0 rgba(0,0,0,0.10);
      }

      &.list{
          padding: 16px 74px 16px 24px;
          margin: 10px 0;
          box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
          p{
              margin: 8px 0 0;
              font-size: 1.2rem;
          }
          .button.delete{
              margin: 24px 16px;
              @media (min-width: 1200px){
                  position: absolute;
                  right: 24px;
                  top: 13px;
                  transform: rotate(45deg);
                  margin: 0;
              }
          }
      }

      &.route{
          padding: 0;
          display: block;
          .select-route{
              width: 100%;
              height: 56px;
              border-bottom: 1px solid $light-gray;
              position: relative;
              @media (min-width: 1200px){}
              .select-wrapper{
                  width: 100%;
                  &::after{
                      display: none;
                  }
                  .modal-input{
                      margin: 0;
                      border: 0;
                      opacity: 0;
                  }
              }
              span{
                  display: inline-block;
              }
              .selected-route{
                  position: absolute;
                  z-index: -1;
                  top: 50%;
                  transform: translateY(-50%);
                  padding: 18px;
                  left: 0;
                  width: 100%;
                  display: flex;
                  align-items: center;
                  span:last-of-type{
                      position: relative;
                      &::before,
                      &::after{
                          width: 0; 
                          height: 0; 
                          border-left: 4px solid transparent;
                          border-right: 4px solid transparent;
                          border-top: 4px solid $dark;
                          position: absolute;
                          right: -16px;
                          top: 50%;
                      }
                      &::before{
                          transform: rotate(180deg) translateY(5px)
                      }
                      &::after{
                          transform: rotate(0) translateY(2px)
                      }
                  }
              }
          }

          .departures{
              padding: 18px;
              @media (min-width: 796px){
                  display: flex;
                  align-items: center;
              }
              .draggable{
                  margin: 0 0 0 15px;
                  &:first-of-type{
                      margin-left: 0;
                  }
              }
          }
      }

      h1{
          border-bottom: 1px solid $light-gray;
          padding-bottom: 22px;
          font-size: 1.688em;
          font-family: $heading-font-medium;
      }
      & > p{
        margin: 22px auto;  
        line-height: 150%;
        font-size: 1.4rem;
        a{
            display: inline-block
        }
      & > p:not(.small){
          font-size: 0.875em;
      }
      }

      .available-credit-points{
          font-size: 1.2rem;
          color: $blue;
          background-color: lighten($blue, 45%);
          line-height: 150%;
          padding: 4px 12px;
          display: inline-block;
          margin: auto;
          font-weight: 600;
          border-radius: 40px;
          margin-bottom: 32px;
      }
      
      &:not(.list){
          .button:not(.circle):not(.draggable){
              width: 100%;
              margin: 24px 0 0 0 !important;
              &:first-of-type{
                  margin-top: 18px;
              }
          }
      }
  }

  strong{
      display: inline-block;
  }

  .agree-to-terms{
      background: rgba($gold, 0.2);
      padding: 15px;
      text-align: left;
      margin: 32px 0 8px;
      p{
          margin: 0;
      }
      &,
      form label,
      p{
          color: $slate;
          font-size: 1.2rem;
          line-height: 1.5;
      }
      form label{
          padding: 5px 5px 5px 24px;
      }
      /* The remaining code fot the form styles is in the _send-suggestions-forms.scss */
      input[type=checkbox] + label:before,
      input[type=checkbox] + label:after{
          box-shadow: inset 0 0 0 2px rgba($slate, .4);
          width: 16px;
          height: 16px;
          border-radius: 2px;
      }
      input[type=checkbox] + label:before{
          transition: all 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
      }
      input[type=checkbox] + label:after{
          background: rgba(255,255,255,0);
      }
      input[type=checkbox]:checked + label:after{
          background: rgba(255,255,255,1);
      }
      input[type=checkbox]:checked + label:before{
          background: $blue;
          box-shadow: inset 0 0 0 2px $blue;
      }
      input[type=checkbox]{
          position: absolute;
          z-index: 0;
      }
  }

  .countdown{
      margin-bottom: 32px;
      strong{
          font-size: 3.2rem;
          color: $blue;
          font-weight: 800;
      }
  }

  &.zero-credits.open{
      .available-credit-points{
          animation: 1s update-available-credit-points-colors forwards;
          animation-delay: 1s;
      }
      @keyframes update-available-credit-points-colors{
          0%{

          }

          100%{
              background: $orange-light;
              color: $orange;
          }
      }
  }

  &.user-ticket{
      .icon{
          border: 1px solid #ddd;
          border-radius: 100%;
          width: 120px;
          height: 120px;
          display: flex;
          align-items: center;
          margin-top: 16px;
          overflow: hidden;
      }
      p.small{
          margin-bottom: 0;
      }
  }

  .qr-code{
      margin: 40px 0 16px;
      padding-bottom: 32px; 
      border-bottom: 1px solid $light-gray
  }


  .info-row{
      border-top: 1px solid $light-gray;
      border-bottom: 1px solid $light-gray;
      padding: 24px 0;

      .info-element{
          margin: 16px 0;
          @media (min-width: 796px){
              display: inline-block;
              padding: 0 24px;
              margin: 0;
          }
          &:first-of-type{
              padding-left: 0;
          }
          &:last-of-type{
              padding-right: 0;
          }
          p{
              margin: 0;
          }
      }
  }

  .label + .info-row{
      padding: 16px 0;
      .info-element{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 8px;
          *{
              display: inline-block;
          }
      }
  }

  h3 + .info-row{
      .info-element{
          p{
              &:first-of-type{
                  font-family: $heading-font-medium;
                  color: $dark;
              }
          }
      }
  }

  .holidays-list{
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      .input-group{
          width: 100%;
          box-sizing: border-box;
          margin: 8px 0 0;
          padding-right: 18px;
          display: block;
          @media (min-width: 796px){
              width: 33.33%;
          }
          label{
              width: 100%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
          }
      }
      .input-group:nth-of-type(3),
      .input-group:nth-of-type(6),
      .input-group:nth-of-type(9){
          padding-right: 0
      }
  }


  &.stops-modal{
      .stops-list{
          margin: 48px 0 40px;
          .card.list{
              padding: 16px 24px;
              @media (min-width: 480px){
                  display: flex;
                  align-items: center;
              }
              strong{
                  margin-right: auto;
              }
          }
          @media (max-width: 479px) {
              .button{
                  display: block;
                  width: 100%;
                  margin-top: 8px;
              }   
          }
      }
  }

  &.card-wrap{
      display: flex;
      align-items: center;
      justify-content: center;
  }

  & > .card{
      max-width: 384px;
      text-align: center;
  }

  .card{
      padding: 2em;
      box-sizing: border-box;
      position: relative;

      @media (min-width: 768px){
          box-shadow: 0 5px 20px 0 rgba(0,0,0,0.10);
      }

      &.list{
          padding: 16px 74px 16px 24px;
          margin: 10px 0;
          box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
          p{
              margin: 8px 0 0;
              font-size: 1.2rem;
          }
          .button.delete{
              margin: 24px 16px;
              @media (min-width: 1200px){
                  position: absolute;
                  right: 24px;
                  top: 13px;
                  transform: rotate(45deg);
                  margin: 0;
              }
          }
      }
  }

}


.search-results{
  position: relative;
  z-index: 99;
  .results{
      width: 100%;
      max-width: 880px;
      padding: 16px;
      box-sizing: border-box;
      background: white;
      box-shadow: 0 3px 7px 0 rgba(0,0,0,0.10);
      position: absolute;
      top: 130px;
      display: none;
      table{
          margin-bottom: 0
      }
  }
  &.active{
      .results{
          display: block;
      }
  }
}

.search-results.active + .search-results-overlay{
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255, 0.75);
  position: fixed;
  z-index: 98;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
