//  Variables
// ==================== Primary Palette
$dark: #2E3242;
$slate: #45555F;
$blue: #009DE0;
$light-blue: #EEF2F5;
// ==================== Secondary Palette
$violet: #5a4fcf;
$violet-700: #5856D6;
$violet-600: #6564db;
$teal: #01BFC2;
$lime: #62D321;
$green: #199D5B;
$purple: #574A68;
$magenta: #E0374C;
$red: #FF4936;
$orange: #F9690E;
$pink: #FF4981;
$yellow: #F6C501;
$pale-gold: #D4CCBE;
// ==================== Extended Palette
// Darks
$dark-600: #242B3D;
// $dark: 					#2E3242;	// main dark
$dark-400: #383D4C;
// Slate
$slate-700: #2E3A42;
$slate-600: #3A4952;
// $slate: 					#45555F;	// main slate gray (Tecnico gray)
// Blues
$blue-700: #006CC6;
$blue-600: #007BDC;
// $blue: 					#009DE0;	// main blue (Tecnico blue)
// Light Blues
$light-blue-700: #D3DAE0;
$light-blue-600: #DDE4E9;
// $light-blue:		 		#EEF2F5;		// main light-blue
// Grays
$gray: #717782; // main silver
$gray-400: #8F95A1;
$gray-300: #BFC4CC;
// Light Grays
$light-gray: #DDD; // main light-gray
$light-gray-400: #F1F1F1;
$light-gray-300: #F8F8F8;
// ==================== Social Network Colors
$facebook: #3B5998;
$twitter: #55ACEE;
$linkedin: #0077B5;
$youtube: #CD201F;
$instagram: #3F729B;
// ==================== Fonts
$primary-font: 'Source Sans Pro',
Helvetica,
Helvetica Neue,
Arial;
$title-bold: 'Klavika-Bold',
Helvetica,
Helvetica Neue,
Arial;
$title-medium: 'Klavika-Medium-Plain',
Helvetica,
Helvetica Neue,
Arial;
$title-regular: 'Klavika-Regular-Plain',
Helvetica,
Helvetica Neue,
Arial;
$title-light: 'Klavika-Light-Plain',
Helvetica,
Helvetica Neue,
Arial;

$main-color: $violet;